Repository NINAnor/ecosystemCondition, pull requests merged in 2023-10, with the labels that each got.

#129 Alk ndvi patch2909 2
  NDVI_seminat.Rmd
Labels: INDICATOR - NDVI

#132 Alk fpi suggestions
  functional_plant_indicators_natopen.Rmd
  functional_plant_indicators_seminat.Rmd
  functional_plant_indicators_wetland.Rmd
Labels: code issue, INDICATOR - functional plant indicators

#140 Add files via upload
  DRAFT_Connectivity.Rmd
  Konnetivitet.Rmd
Labels: INDICATOR - Connectivity

#153 add indiPri chapter
  _bookdown.yml
  indipri.Rmd
Labels: indiPri

#157 #59 update encroachment chapter following review
  data/encroachment/refAapne.csv
  data/encroachment/refVaatmark.csv
  gjengroing.Rmd
Labels: INDICATOR - encroachment

#166 Alk bird indicators review
  birdIndicators.Rmd
  temp/DRAFT_birdIndicators.html
Labels: INDICATOR - hekkefugl
